BOT_TOKEN= # Токен телеграм бота
ADMINS=[tgid1,tgid2,tgid3,tgid...] # Настоящий телеграм айди администратора. Можно несколько

DB_HOST= # хост базы данных MySQL 
DB_PORT= # порт базы данных MySQL 
DB_USER= # пользователь базы данных MySQL 
DB_PASSWORD= # пароль пользователя базы данных MySQL 
DB_NAME= # название базы данных MySQL 

XUI_BASE_URL= # путь до веб-панели 3x-ui, например: https://panel.domain.com/main/path/panel/
XUI_USERNAME= # пользователь панели
XUI_PASSWORD= # пароль пользователя панели
XUI_INBOUND_ID= # ID инбаунда базовой подписки
XUI_INBOUND_ID_INF= # ID инбаунда вечной подписки

CODE_HASH= # sha256 хэш папки с кодом бота 
HASH_SALT= # 32 значная соль для хэширования TG ID юзера
MEMORY_CLEAN_INTERVAL_HOURS= # интервал отчистки реальных TG ID юзеров из памяти

PRIVACY_URL= # URL политики конфиденциальности
TERMS_URL= # URL правил использования
INSTRUCTION_URL= # URL инструкции для подключения
